<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<div class="justify-content-between mb-4">
  <h1 class="d-inline-block mr-3">Lista de Convidados</h1><br>
  <a href="/guest" class="btn btn-primary"><i class="bi-person-plus"></i> Adicionar Convidado</a>
  <a href="/guests/import" class="btn btn-primary"><i class="bi-box-arrow-in-down"></i> Importar Lista</a>
  <a href="/guests/export"  class="btn btn-primary"><i class="bi-box-arrow-down"></i> Exportar Lista</a>
</div>

<style>
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgba(10, 173, 254, 0.08);
 }

 #guestTable th, #guestTable td {
  text-align: center;
} 
</style>
<table id="guestTable" class="table table-striped">
  <thead class="thead">
    <tr>
      <th scope="col">Activo</th>
      <th scope="col">Nome</th>
      <th scope="col">Celular</th>
      <th scope="col">Faixa Etaria</th>
      <th scope="col">Salt</th>
      <th scope="col">Confirmation</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch<%= guest.id %>" <%= 'checked' if guest.is_active %> data-id="<%= guest.id %>">
            <label class="custom-control-label" for="customSwitch<%= guest.id %>"></label>
          </div>
        </td>
        <td><%= guest.name %></td>
        <td><%= guest.phone %></td>
        <td><%= guest.age %></td>
        <td><%= guest.salt %></td>
        <td><%= guest.confirmation ? 'Sim' : 'Não' %></td>
        <td>
          <a href="/guests/<%= guest.id %>" class="btn btn-info btn-sm"><i class="bi-eye"></i> Detalhes</a>
        </td>
        <td>
          <a href="/guests/<%= guest.id %>/edit" class="btn btn-warning btn-sm"><i class="bi-pencil"></i> Editar</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>

$(document).ready( function () {
  $('#guestTable').DataTable({
      "pageLength": 25,
      language: {
        url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese.json'
      }
  });

  $('.custom-control-input').on('change', function(){
    var guestId = $(this).data('id');
    $.ajax({
      url: '/guests/' + guestId + '/disable',
      type: 'PUT',
      success: function(response) {
        // Handle the response here
      }
    });
  });
});

</script>