<style>

</style>
<div>
  <h1><%= @guest.name %></h1>
  <p>
    <strong>Telefone:</strong>
    <%= @guest.phone %>
  </p>
  <p>
    <strong>Confirmado?:</strong>
    <%= @guest.confirmation ? 'Sim' : 'Não' %>
  </p>
  <p>
  <strong>Faixa etária:</strong>
  <%= @guest.age %>
  </p>
  <% if @guest.confirmation %>
  <p>
    <strong>O confidado entrou no evento às</strong>  
    <br><%=  @guest.confirmation.details_confirm %>
  <p>
  <% end %>
</div>

<% if @qrcode_svg %>
  <div class="qr-code">
    <%= @qrcode_svg %>
  </div>
<% end %>
<% if @salt and not @guest.confirmation %>
  <div class="confirm">
    <form id="confirm-form" action="/guests/confirm/<%= @salt %>" method="post">
      <input type="hidden" name="salt" value="<%= @salt %>">
      <h1> O convidado está entrando no evento? </h1> 
      <a href="javascript:{}" onclick="document.getElementById('confirm-form').submit(); return false;" class="btn btn-primary btn-sm"><i class="bi bi-bookmark-check-fill"></i> Confirmar Entrada</a>
      <a href="/guests" class="btn btn-danger btn-sm"><i class="bi-x-circle"></i> Cancelar</a>
    </form>
  </div>
<% end %>

<a href="/guests" class="btn btn-info  btn-sm"><i class="bi bi-card-list"></i> Listagem</a>
<a href="/guests/<%= @guest.id %>/edit" class="btn btn-warning btn-sm"><i class="bi-pencil"></i>Editar</a>