<style>
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.container {
  display: flex;
  width: 80%;
  margin: 3% auto;
  background-color: #fff;
  padding: 3%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.container > div {
  flex: 1;
}
h1, p {
  color: #333;
}
p {
  font-size: 1.2em;
}
.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
</style>
<div>
  <h1><%= @guest.name %></h1>
  <p>
    <strong>Email:</strong>
    <%= @guest.email %>
  </p>
  <p>
    <strong>Telefone:</strong>
    <%= @guest.phone %>
  </p>
  <p>
    <strong>Possui Filhos:</strong>
    <%= @guest.has_children ? 'Sim' : 'Não' %>
  </p>
  <% if @guest.confirmation %>
  <p>
    <strong>Data e Hora da entrada no Evento:</strong>  
    <br><%=  @guest.confirmation.created_at %>
  <p>
  <% end %>
</div>

<% if @qrcode_svg %>
  <div class="qr-code">
    <%= @qrcode_svg %>
  </div>
<% end %>
<% if @salt and not @guest.confirmation %>
  <div class="confirm">
    <form id="confirm-form" action="/guests/confirm/<%= @salt %>" method="post">
      <input type="hidden" name="salt" value="<%= @salt %>">
      <h1> O convidado está entrando no evento? </h1> 
      <a href="javascript:{}" onclick="document.getElementById('confirm-form').submit(); return false;" class="btn btn-primary btn-sm"><i class="bi bi-bookmark-check-fill"></i> Confirmar Entrada</a>
      <a href="/guests" class="btn btn-danger btn-sm"><i class="bi-x-circle"></i> Cancelar</a>
    </form>
  </div>
<% end %>
