<style>
  form {
    width: 60%;
  }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<h1>Adicionar Convidado</h1>
<hr/>
<div class="row justify-content-center">
  <div class="col-md-12">
    <form id="guest-form" action="/guests/<%= @guest.id %>" method="post" class="needs-validation" novalidate>
      <input type="hidden" name="_method" value="PUT">
    
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= @guest.name %>" required>
      </div>

      <div class="form-group">
        <label for="phone">Cell Phone:</label>
        <input type="text" class="form-control" id="phone" name="phone" value="<%= @guest.phone %>" required>
      </div>
      
      <label for="age">Faixa Etária:</label>
      <select name="age" id="age" class="form-control">
        <option value="adulto" <%= @guest.age == 'adulto' ? 'selected' : '' %>>Adulto</option>
        <option value="adolescente" <%= @guest.age == 'adolescente' ? 'selected' : ''  %> >Adolescente</option>
        <option value="crianca" <%= @guest.age == 'crianca' ? 'selected' : ''  %> >Criança</option>
        <option value="idoso" <%= @guest.age == 'idoso' ? 'selected' : ''  %>>Idoso</option>
      </select>
      
      <br/>

      <a href="javascript:{}" onclick="document.getElementById('guest-form').submit(); return false;" class="btn btn-primary btn-sm"><i class="bi bi-save"></i> Salvar</a>
      <a href="/guests" class="btn btn-danger btn-sm"><i class="bi-x-circle"></i> Cancelar</a>
    </form>
  </div>
</div>

<script>
$(document).ready(function(){
  $('#phone').mask('(00) 00000-0000');
});
</script